In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("telecom_train.csv")

In [6]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5500 non-null   object
 1   Gender                             5500 non-null   object
 2   Age                                5500 non-null   int64
 3   Married                            5500 non-null   object
 4   Number of Dependents               5500 non-null   int64
 5   City                               5500 non-null   object
 6   Zip Code                           5500 non-null   int64
 7   Latitude                           5500 non-null   float64
 8   Longitude                          5500 non-null   float64
 9   Number of Referrals                5500 non-null   int64
 10  Tenure in Months                   5500 non-null   int64
 11  Offer                              2472 non-null   object
 12  Phone Service                      5500 non-null   object
 13  Avg Monthly Long Distance Charges  4974 non-null   float64
 14  Multiple Lines                     4974 non-null   object
 15  Internet Service                   5500 non-null   object
 16  Internet Type                      4306 non-null   object
 17  Avg Monthly GB Download            4306 non-null   float64
 18  Online Security                    4306 non-null   object
 19  Online Backup                      4306 non-null   object
 20  Device Protection Plan             4306 non-null   object
 21  Premium Tech Support               4306 non-null   object
 22  Streaming TV                       4306 non-null   object
 23  Streaming Movies                   4306 non-null   object
 24  Streaming Music                    4306 non-null   object
 25  Unlimited Data                     4306 non-null   object
 26  Contract                           5500 non-null   object
 27  Paperless Billing                  5500 non-null   object
 28  Payment Method                     5500 non-null   object
 29  Monthly Charge                     5500 non-null   float64
 30  Total Charges                      5500 non-null   float64
 31  Total Refunds                      5500 non-null   float64
 32  Total Extra Data Charges           5500 non-null   int64
 33  Total Long Distance Charges        5500 non-null   float64
 34  Total Revenue                      5500 non-null   float64
 35  Customer Status                    5500 non-null   object
 36  Churn Category                     1482 non-null   object
 37  Churn Reason                       1482 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 1.6+ MB

In [8]:
data.isnull().sum().sort_values(ascending = False)

Churn Reason                         4018
Churn Category                       4018
Offer                                3028
Online Backup                        1194
Avg Monthly GB Download              1194
Online Security                      1194
Streaming Movies                     1194
Streaming TV                         1194
Unlimited Data                       1194
Streaming Music                      1194
Internet Type                        1194
Device Protection Plan               1194
Premium Tech Support                 1194
Avg Monthly Long Distance Charges     526
Multiple Lines                        526
Number of Dependents                    0
City                                    0
Age                                     0
Gender                                  0
Customer ID                             0
Married                                 0
Tenure in Months                        0
Internet Service                        0
Longitude                               0
Zip Code                                0
Latitude                                0
Number of Referrals                     0
Phone Service                           0
Contract                                0
Paperless Billing                       0
Monthly Charge                          0
Payment Method                          0
Total Charges                           0
Total Refunds                           0
Total Long Distance Charges             0
Total Extra Data Charges                0
Customer Status                         0
Total Revenue                           0
dtype: int64

# Handing Missing Values

In [9]:
# process avg monthly long distance charges
data['Avg Monthly Long Distance Charges'] = data['Avg Monthly Long Distance Charges'].fillna(data['Avg Monthly Long Distance Charges'].mean())

In [10]:
# process Muntiple Line
# data['Multiple Lines'].value_counts()
data['Multiple Lines'] = data['Multiple Lines'].fillna("No")
data['Multiple Lines'].value_counts()

Multiple Lines
No     3191
Yes    2309
Name: count, dtype: int64

In [11]:
# process Premium Tech Support 
#data['Premium Tech Support'].value_counts()
data['Premium Tech Support'].fillna(value = "No", inplace = True)
data['Premium Tech Support'].value_counts()

/tmp/ipykernel_21921/3703416646.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Premium Tech Support'].fillna(value = "No", inplace = True)

Premium Tech Support
No     3912
Yes    1588
Name: count, dtype: int64

In [12]:
# Process Device Protection Plan 
#data['Device Protection Plan'].value_counts()
data['Device Protection Plan'] = data['Device Protection Plan'].fillna("No")
data['Device Protection Plan'].value_counts()

Device Protection Plan
No     3614
Yes    1886
Name: count, dtype: int64

In [13]:
# Process Internet Type
#data['Internet Type'].value_counts()
data['Internet Type'] = data['Internet Type'].fillna("None")
data['Internet Type'].value_counts()

Internet Type
Fiber Optic    2386
DSL            1276
None           1194
Cable           644
Name: count, dtype: int64

In [14]:
# Process Streaming Music
data['Streaming Music'] = data['Streaming Music'].fillna("No")
data['Streaming Music'].value_counts()

Streaming Music
No     3565
Yes    1935
Name: count, dtype: int64

In [15]:
# Process Unlimited Data
data['Unlimited Data'] = data['Unlimited Data'].fillna("No")
data['Unlimited Data'].value_counts()

Unlimited Data
Yes    3709
No     1791
Name: count, dtype: int64

In [16]:
#Process Streaming TV, Streaming Movies
data['Streaming TV'] = data['Streaming TV'].fillna("No")
data['Streaming Movies'] = data['Streaming Movies'].fillna("No")

In [17]:
#Process Online Security
data['Online Security'] = data['Online Security'].fillna("No")

In [18]:
# Process Avg Monthly GB Download
data['Avg Monthly GB Download'] = data['Avg Monthly GB Download'].fillna(data['Avg Monthly GB Download'].mean())

In [19]:
#Process Online Backup
data['Online Backup'] = data['Online Backup'].fillna("No")

In [20]:
#Process Offer 
offers = ['Offer A', 'Offer B', 'Offer C', 'Offer D', 'Offer E']
data['Offer'] = data['Offer'].apply(lambda x: np.random.choice(offers) if pd.isna(x) else x)
data['Offer'].value_counts()

Offer
Offer B    1257
Offer E    1227
Offer D    1089
Offer A     993
Offer C     934
Name: count, dtype: int64

In [21]:
#Process Churn Category
data['Churn Category'] = data['Churn Category'].fillna('Other')
data['Churn Category'].value_counts()

Churn Category
Other              4164
Competitor          656
Attitude            269
Dissatisfaction     245
Price               166
Name: count, dtype: int64

In [22]:
#Process Churn Resson
reasons = {
    'Competitor had better devices': 251,
    'Competitor made better offer': 235,
    'Attitude of support person': 185,
    'Don\'t know': 102,
    'Competitor offered more data': 89,
    'Attitude of service provider': 84,
    'Competitor offered higher download speeds': 81,
    'Price too high': 62,
    'Product dissatisfaction': 56,
    'Service dissatisfaction': 56,
    'Network reliability': 54,
    'Long distance charges': 52,
    'Moved': 38,
    'Extra data charges': 28,
    'Limited range of services': 25,
    'Poor expertise of online support': 25,
    'Lack of affordable download/upload speed': 24,
    'Lack of self-service on Website': 24,
    'Deceased': 6,
    'Poor expertise of phone support': 5
}
reasons_series = pd.Series(reasons)
weighted_reasons = reasons_series.index.repeat(reasons_series.values)
data['Churn Reason'] = data['Churn Reason'].apply(lambda x: np.random.choice(weighted_reasons) if pd.isna(x) else x)
data['Churn Reason'].value_counts()

Churn Reason
Competitor made better offer                 885
Competitor had better devices                884
Attitude of support person                   706
Don't know                                   348
Attitude of service provider                 344
Competitor offered more data                 328
Competitor offered higher download speeds    318
Price too high                               231
Network reliability                          209
Product dissatisfaction                      208
Long distance charges                        199
Service dissatisfaction                      195
Moved                                        135
Lack of self-service on Website              102
Lack of affordable download/upload speed     102
Poor expertise of online support              95
Extra data charges                            95
Limited range of services                     85
Deceased                                      16
Poor expertise of phone support               15
Name: count, dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5500 non-null   object
 1   Gender                             5500 non-null   object
 2   Age                                5500 non-null   int64
 3   Married                            5500 non-null   object
 4   Number of Dependents               5500 non-null   int64
 5   City                               5500 non-null   object
 6   Zip Code                           5500 non-null   int64
 7   Latitude                           5500 non-null   float64
 8   Longitude                          5500 non-null   float64
 9   Number of Referrals                5500 non-null   int64
 10  Tenure in Months                   5500 non-null   int64
 11  Offer                              5500 non-null   object
 12  Phone Service                      5500 non-null   object
 13  Avg Monthly Long Distance Charges  5500 non-null   float64
 14  Multiple Lines                     5500 non-null   object
 15  Internet Service                   5500 non-null   object
 16  Internet Type                      5500 non-null   object
 17  Avg Monthly GB Download            5500 non-null   float64
 18  Online Security                    5500 non-null   object
 19  Online Backup                      5500 non-null   object
 20  Device Protection Plan             5500 non-null   object
 21  Premium Tech Support               5500 non-null   object
 22  Streaming TV                       5500 non-null   object
 23  Streaming Movies                   5500 non-null   object
 24  Streaming Music                    5500 non-null   object
 25  Unlimited Data                     5500 non-null   object
 26  Contract                           5500 non-null   object
 27  Paperless Billing                  5500 non-null   object
 28  Payment Method                     5500 non-null   object
 29  Monthly Charge                     5500 non-null   float64
 30  Total Charges                      5500 non-null   float64
 31  Total Refunds                      5500 non-null   float64
 32  Total Extra Data Charges           5500 non-null   int64
 33  Total Long Distance Charges        5500 non-null   float64
 34  Total Revenue                      5500 non-null   float64
 35  Customer Status                    5500 non-null   object
 36  Churn Category                     5500 non-null   object
 37  Churn Reason                       5500 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 1.6+ MB

# Xử lý dữ liệu trùng nhau

In [24]:
data.duplicated().sum()

np.int64(0)

# Bo cac hang co Customer Status = Join

In [25]:
data['Customer Status'].value_counts()

Customer Status
Stayed     3663
Churned    1482
Joined      355
Name: count, dtype: int64

In [27]:
data  = data[data['Customer Status'] != 'Joined']
data_hist = data['Customer Status'].value_counts()

plt.figure(figsize=(8, 6))
data_hist.plot(kind='bar', color='skyblue')

plt.title('Customer Status Distribution')
plt.xlabel('Customer Status')
plt.ylabel('Count')
plt.show()

NameError: name 'plt' is not defined

In [28]:
def is_yes_no_column(series):
    unique_values = series.dropna().unique()
    return set(unique_values) == {"Yes", "No"}

In [29]:
columns_to_encode = [col for col in data.columns if is_yes_no_column(data[col])]

In [30]:
columns_to_encode

['Married',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Paperless Billing']

# Label Endcoding

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
label_encoder = LabelEncoder()

for col in columns_to_encode:
    data[col] = label_encoder.fit_transform(data[col])

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5145 entries, 0 to 5499
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5145 non-null   object
 1   Gender                             5145 non-null   object
 2   Age                                5145 non-null   int64
 3   Married                            5145 non-null   int64
 4   Number of Dependents               5145 non-null   int64
 5   City                               5145 non-null   object
 6   Zip Code                           5145 non-null   int64
 7   Latitude                           5145 non-null   float64
 8   Longitude                          5145 non-null   float64
 9   Number of Referrals                5145 non-null   int64
 10  Tenure in Months                   5145 non-null   int64
 11  Offer                              5145 non-null   object
 12  Phone Service                      5145 non-null   int64
 13  Avg Monthly Long Distance Charges  5145 non-null   float64
 14  Multiple Lines                     5145 non-null   int64
 15  Internet Service                   5145 non-null   int64
 16  Internet Type                      5145 non-null   object
 17  Avg Monthly GB Download            5145 non-null   float64
 18  Online Security                    5145 non-null   int64
 19  Online Backup                      5145 non-null   int64
 20  Device Protection Plan             5145 non-null   int64
 21  Premium Tech Support               5145 non-null   int64
 22  Streaming TV                       5145 non-null   int64
 23  Streaming Movies                   5145 non-null   int64
 24  Streaming Music                    5145 non-null   int64
 25  Unlimited Data                     5145 non-null   int64
 26  Contract                           5145 non-null   object
 27  Paperless Billing                  5145 non-null   int64
 28  Payment Method                     5145 non-null   object
 29  Monthly Charge                     5145 non-null   float64
 30  Total Charges                      5145 non-null   float64
 31  Total Refunds                      5145 non-null   float64
 32  Total Extra Data Charges           5145 non-null   int64
 33  Total Long Distance Charges        5145 non-null   float64
 34  Total Revenue                      5145 non-null   float64
 35  Customer Status                    5145 non-null   object
 36  Churn Category                     5145 non-null   object
 37  Churn Reason                       5145 non-null   object
dtypes: float64(9), int64(19), object(10)
memory usage: 1.5+ MB

In [35]:
data[columns_to_encode].head()

,Married,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Paperless Billing
0,1,1,0,1,0,1,0,1,1,0,0,1,1
1,0,1,1,1,0,0,0,0,0,1,1,0,0
2,0,1,0,1,0,0,1,0,0,0,0,1,1
3,1,1,0,1,0,1,1,0,1,1,0,1,1
4,1,1,0,1,0,0,0,1,1,0,0,1,1

# Onehot encoding

In [39]:
columns_to_onehot = ['Offer', 'Internet Type', 'Contract', 'Payment Method', 'Churn Category', 'Churn Reason']

In [40]:
data = pd.get_dummies(data, columns= columns_to_onehot)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5145 entries, 0 to 5499
Data columns (total 72 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Customer ID                                             5145 non-null   object
 1   Gender                                                  5145 non-null   object
 2   Age                                                     5145 non-null   int64
 3   Married                                                 5145 non-null   int64
 4   Number of Dependents                                    5145 non-null   int64
 5   City                                                    5145 non-null   object
 6   Zip Code                                                5145 non-null   int64
 7   Latitude                                                5145 non-null   float64
 8   Longitude                                               5145 non-null   float64
 9   Number of Referrals                                     5145 non-null   int64
 10  Tenure in Months                                        5145 non-null   int64
 11  Phone Service                                           5145 non-null   int64
 12  Avg Monthly Long Distance Charges                       5145 non-null   float64
 13  Multiple Lines                                          5145 non-null   int64
 14  Internet Service                                        5145 non-null   int64
 15  Avg Monthly GB Download                                 5145 non-null   float64
 16  Online Security                                         5145 non-null   int64
 17  Online Backup                                           5145 non-null   int64
 18  Device Protection Plan                                  5145 non-null   int64
 19  Premium Tech Support                                    5145 non-null   int64
 20  Streaming TV                                            5145 non-null   int64
 21  Streaming Movies                                        5145 non-null   int64
 22  Streaming Music                                         5145 non-null   int64
 23  Unlimited Data                                          5145 non-null   int64
 24  Paperless Billing                                       5145 non-null   int64
 25  Monthly Charge                                          5145 non-null   float64
 26  Total Charges                                           5145 non-null   float64
 27  Total Refunds                                           5145 non-null   float64
 28  Total Extra Data Charges                                5145 non-null   int64
 29  Total Long Distance Charges                             5145 non-null   float64
 30  Total Revenue                                           5145 non-null   float64
 31  Customer Status                                         5145 non-null   object
 32  Offer_Offer A                                           5145 non-null   bool
 33  Offer_Offer B                                           5145 non-null   bool
 34  Offer_Offer C                                           5145 non-null   bool
 35  Offer_Offer D                                           5145 non-null   bool
 36  Offer_Offer E                                           5145 non-null   bool
 37  Internet Type_Cable                                     5145 non-null   bool
 38  Internet Type_DSL                                       5145 non-null   bool
 39  Internet Type_Fiber Optic                               5145 non-null   bool
 40  Internet Type_None                                      5145 non-null   bool
 41  Contract_Month-to-Month                                 5145 non-null   bool
 42  Contract_One Year                                       5145 non-null   bool
 43  Contract_Two Year                                       5145 non-null   bool
 44  Payment Method_Bank Withdrawal                          5145 non-null   bool
 45  Payment Method_Credit Card                              5145 non-null   bool
 46  Payment Method_Mailed Check                             5145 non-null   bool
 47  Churn Category_Attitude                                 5145 non-null   bool
 48  Churn Category_Competitor                               5145 non-null   bool
 49  Churn Category_Dissatisfaction                          5145 non-null   bool
 50  Churn Category_Other                                    5145 non-null   bool
 51  Churn Category_Price                                    5145 non-null   bool
 52  Churn Reason_Attitude of service provider               5145 non-null   bool
 53  Churn Reason_Attitude of support person                 5145 non-null   bool
 54  Churn Reason_Competitor had better devices              5145 non-null   bool
 55  Churn Reason_Competitor made better offer               5145 non-null   bool
 56  Churn Reason_Competitor offered higher download speeds  5145 non-null   bool
 57  Churn Reason_Competitor offered more data               5145 non-null   bool
 58  Churn Reason_Deceased                                   5145 non-null   bool
 59  Churn Reason_Don't know                                 5145 non-null   bool
 60  Churn Reason_Extra data charges                         5145 non-null   bool
 61  Churn Reason_Lack of affordable download/upload speed   5145 non-null   bool
 62  Churn Reason_Lack of self-service on Website            5145 non-null   bool
 63  Churn Reason_Limited range of services                  5145 non-null   bool
 64  Churn Reason_Long distance charges                      5145 non-null   bool
 65  Churn Reason_Moved                                      5145 non-null   bool
 66  Churn Reason_Network reliability                        5145 non-null   bool
 67  Churn Reason_Poor expertise of online support           5145 non-null   bool
 68  Churn Reason_Poor expertise of phone support            5145 non-null   bool
 69  Churn Reason_Price too high                             5145 non-null   bool
 70  Churn Reason_Product dissatisfaction                    5145 non-null   bool
 71  Churn Reason_Service dissatisfaction                    5145 non-null   bool
dtypes: bool(40), float64(9), int64(19), object(4)
memory usage: 1.5+ MB

In [47]:
# Feature Scalling
from sklearn.preprocessing import MinMaxScaler


columns_to_scaller = ['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges', 'Total Refunds','Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue']

scaler = MinMaxScaler(feature_range=(0, 1))

data[columns_to_scaller] = scaler.fit_transform(data[columns_to_scaller])

In [48]:
data[columns_to_scaller].head()

,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,0.844835,0.168675,0.587184,0.066261,0.000000,0.000000,0.107024,0.079714
1,0.197632,0.096386,0.046602,0.060388,0.769833,0.066667,0.026989,0.049229
2,0.666394,0.337349,0.651650,0.030205,0.000000,0.000000,0.037759,0.032936
3,0.547366,0.024096,0.838835,0.140641,0.000000,0.000000,0.101455,0.131956
4,0.130053,0.108434,0.729320,0.028653,0.000000,0.000000,0.006211,0.022406